:root {
  --bg: #1E2124;
  --pri: #c77dff;
  --sec: #26292E;
  --tri: #131517;
  --txt: #eed1ff;
}

* {
  scrollbar-width: none;
}

html {
  background: var(--bg);
  color: var(--txt);
  font-family: monospace;
  height: calc(100% - 60px);
  padding: 5px;
  padding-top: 55px;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--tri);
  z-index: 500;
}

.mobile-ui nav {
  width: calc(100% - 20px) !important;
  padding: 0 10px !important;
}

nav #items {
  width: fit-content;
  display: flex;
}

nav #logo {
  width: fit-content;
  height: 40px;
  margin: 5px;
}

main .card.profile {
  padding-top: 119px;
}

.card {
  width: 430px;
  padding: 10px;
  border-radius: 10px;
  background: var(--tri);
  position: relative;
  margin: 5px;
  display: inline-block;
}

.mobile-ui main .card {
  width: calc(100% - 30px);
}

.grower, .sgrower, .ssgrower {
  transition: transform 0.1s ease-in-out;
}

.grower:hover {
  transform: scale(1.1);
}

.grower:active {
  transform: scale(0.9);
}

.sgrower:hover {
  transform: scale(1.03);
}

.sgrower:active {
  transform: scale(0.97);
}

.ssgrower:hover {
  transform: scale(1.01);
}

.ssgrower:active {
  transform: scale(0.99);
}

main .profile .pfp {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
}

main .profile .username {
  width: 200px;
  height: 32px;
  display: block;
  position: absolute;
  top: 10px;
  left: 120px;
  overflow: hidden;
  font-size: 22px;
}

main .profile .pronouns {
  height: 18px;
  display: block;
  position: absolute;
  top: 41px;
  left: 120px;
  font-size: 18px;
}

main .profile .time {
  height: 18px;
  display: block;
  position: absolute;
  top: 63px;
  left: 120px;
  font-size: 18px;
}

main .profile .username::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, var(--tri) 0%, #00000000 100%);
  width: 200px;
  height: 7px;
}

main .profile .username::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, var(--tri) 0%, #00000000 100%);
  width: 200px;
  height: 7px;
}

main .profile .username .scrolling-names span {
  display: block;
  height: 32px;
  line-height: 32px;
  width: 100%;
}

main .profile .flags {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 85px;
  left: 117.5px;
}

main .profile .flags div {
  height: 22.5px;
  width: 32px;
  margin: 2.5px;
  background-image: var(--img);
  background-size: cover;
  border-radius: 5px;
}

nav #items {
  display: flex;
  justify-content: center;
}

nav a {
  display: inline-block;
  width: 40px;
  height: 40px;
  mask-image: var(--icon);
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  background: var(--txt);
  margin: 5px;
}

main .profile .bio {
  display: block;
  width: calc(100% - 10px);
  padding: 5px;
  border-radius: 5px;
  background: var(--sec);
}

main .songs {
  height: 0;
  width: 550px;
  overflow: auto;
}

main {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.mobile-ui main {
  width: 100%;
  display: block;
  margin: 0;
}

main .songs .song {
  width: calc(100% - 10px);
  position: relative;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  background: var(--sec);
  margin-bottom: 5px;
}

main .songs .song {
  width: calc(100% - 10px);
  position: relative;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  background: var(--sec);
  margin-bottom: 5px;
}

main .songs .song img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

main .songs .song .name {
  position: absolute;
  font-size: 16px;
  top: 12px;
  left: 60px;
  width: calc(100% - 65px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main .songs .song .artist {
  position: absolute;
  bottom: 12px;
  left: 60px;
}

iframe {
  opacity: 0;
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.1s ease-in-out;
}

iframe.playing {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  opacity: 1;
  border: none;
  margin-bottom: 10px;
  background: black;
}

.projects {
  display: flex;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

.mobile-ui .projects {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

.projectsh {
  margin: auto;
  position: relative;
}

.mobile-ui .projectsh {
  width: 100% !important;
}

.projectsh::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  background: linear-gradient(90deg, var(--bg) 0%, #00000000 100%);
  height: calc(100% + 5px);
  width: 10px;
  z-index: 100;
}

.projectsh::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 0;
  background: linear-gradient(270deg, var(--bg) 0%, #00000000 100%);
  height: calc(100% + 5px);
  width: 10px;
  z-index: 100;
}

.mobile-ui .projectsh::after {
  height: 10px;
  width: calc(100% + 5px);
  top: unset;
  bottom: 0;
  left: -5px;
  background: linear-gradient(0deg, var(--bg) 0%, #00000000 100%);
}

.mobile-ui .projectsh::before {
  height: 10px;
  width: calc(100% + 5px);
  top: 0;
  right: -5px;
  background: linear-gradient(180deg, var(--bg) 0%, #00000000 100%);
}

.project {
  height: calc(100% - 30px);
  width: calc(33% - 26.5px);
  flex: 0 0 auto;
  overflow: visible;
}

.mobile-ui .project {
  width: calc(100% - 30px);
}

.projectsh a {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  mask-image: var(--icon);
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  transition: transform 0.1s ease-in-out;
  background-color: var(--txt);
}

.mobile-ui .projectsh a {
  display: none;
}

.projectsh .left {
  left: -25px;
}

.projectsh .right {
  right: -25px;
}

.projectsh .left:hover,
.projectsh .right:hover {
  transform: translateY(-50%) scale(1.2);
}

*[hover] {
  position: relative;
}

*[hover]::before {
  content: attr(hover);
  position: absolute;
  top: -27.5px;
  left: 50%;
  width: fit-content;
  padding: 2.5px 5px;
  opacity: 0;
  background: var(--pri);
  border-radius: 5px;
  transition: opacity 0.1s ease-in-out;
  transform: translateX(-50%);
  font-size: 17px;
}

*[hover]:hover::before {
  opacity: 1;
}

*:focus-visible {
  outline: 2px var(--txt) solid;
}

.project .top {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.project .top .logo {
  width: 30px;
  height: 30px;
  background-image: var(--icon);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 5px;
}

.project .top .type {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  mask-image: var(--icon);
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  background: var(--txt);
}

.project .top .name {
  font-size: 20px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
}

.project .desc {
  width: calc(100% - 10px);
  height: calc(100% - 90px);
  padding: 5px;
  border-radius: 5px;
  background: var(--sec);
  margin: 10px 0;
  font-size: 16px;
}

.project .buttons {
  width: 100%;
  height: 30px;
  display: flex;
  gap: 5px;
}

.project .buttons button {
  width: 100%;
  height: 30px;
  font-size: 17px;
  background: var(--pri);
  border: none;
  border-radius: 5px;
  color: var(--txt);
  transition: all 0.1s ease-in-out;
}

.project .buttons button:active {
  transform: scale(0.98);
  opacity: 0.9;
}